@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$dev-font: 'Roboto Mono', monospace;
$white-f400: rgb(245, 245, 245);
$hack-f: #0f0;
$black-900: rgb(212, 216, 159);
$attack-f: #fd3a4a;
