.header__container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	height: 3rem;
	font-family: $dev-font;
	color: $white-f400;

	.header__developer {
		align-items: center;
		display: flex;
		justify-content: space-between;

		.header__developer_name {
			font-size: 1.5rem;
			margin: 0 1.5rem;
			font-weight: 900;
			color: $white-f400;

			&:hover {
				text-decoration: underline 0.08em rgba(0, 0, 0, 0);
				transition: text-decoration-color 15s ease-in-out;
			}
		}

		.header__developer_position {
			font-weight: 400;

			&:hover {
				text-decoration: underline 0.08em rgba(0, 0, 0, 0);
				transition: text-decoration-color 15s ease-in-out;
			}
		}
	}

	.header__link_container {
		display: flex;
		justify-content: space-between;
		height: 3rem;
		align-items: center;

		.link__contact {
			background-color: $attack-f;
			color: $white-f400;
			height: 3rem;
			width: 6rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.header__link {
			font-size: 1.2rem;
			margin: 0 0.5rem;

			a {
				color: $white-f400;
			}

			&:hover {
				text-decoration: underline 0.1em rgba(0, 0, 0, 0);
				transition: text-decoration-color 15s ease-in-out;
			}
		}
	}
}
