.header__container {
    align-items: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    height: 3rem;
    font-family: $dev-font;

    .header__developer {
        align-items: center;
        display: flex;
        justify-content: space-between;


        .header__developer_name {
            font-size: 1.5rem;
            margin: 0 1.5rem;
            font-weight: 900;
        }

        .header__developer_position {
            font-weight: 400;
            text-decoration: underline;
        }
    }

    .header__link_container {
        display: flex;
        justify-content: space-between;

        .header__link {
            font-size: 1.2rem;
            margin: 0 0.5rem;
        }
    }
}

