.main__component {
	@extend %scroll_component;
	background-image: url('../assets/textures/papers.co-sa79-wallpaper-space-blue-blur-36-3840x2400-4k-wallpaper.jpg');
	background-size: cover;
	background-position: center;
}
