.project__image {
	width: 50%;
	margin: 1rem;
	border-radius: 1rem;
}

.project__link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
}

.planet__name {
	@extend %planet_text;
}

.planet__desc {
	@extend %planet_text;
	margin: 1rem;
}
